numpy
numba
torch==2.5.1
torchvision==0.20.1
chumpy
yacs
joblib
scikit-image
opencv-python
imageio[ffmpeg]
matplotlib
tensorboard
smplx
progress
einops
mmcv==2.1.0
timm
munkres
xtcocotools
loguru
setuptools
tqdm
ultralytics
gdown
evo
pypose
kornia
plyfile
torch_scatter
