numpy==2.3.5
numba
torch==2.5.1
torchvision==0.20.1
chumpy
yacs
joblib
scikit-image
opencv-python
imageio[ffmpeg]
matplotlib
tensorboard
smplx
progress
einops
mmcv==2.1.0
timm
munkres
loguru
setuptools<81
tqdm
gdown
evo
pypose
kornia
plyfile
torch_scatter
